.icon-menu-open {
	@media (max-width: 767.98px) {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 20px;
		&::before,
		&::after {
			content: "";
			background-color: white;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}
		&::before {
			content: "";
			top: 0;
		}
		&::after {
			content: "";
			bottom: 0;
		}
		span {
			position: absolute;
			background-color: white;
			width: 100%;
			height: 2px;
			top: 9px;
		}
	}
}

.icon-menu-close {
	display: none;
}

.header:target .icon-menu-open {
	display: none;
}

.header:target .icon-menu-close {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 20px;
	&::before,
	&::after {
		content: "";
		background-color: white;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}

	&::before {
		content: "";
		transform: rotate(45deg);
		top: 9px;
	}

	&::after {
		content: "";
		transform: rotate(-45deg);
		bottom: 9px;
	}

	span {
		transform: scale(0);
	}
}
