.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="container"] {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}

%ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.page {
	flex: 1 1 auto;
}
