.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="container"] {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	display: inline-flex;
	padding: 25px 58px;
	font-size: 18px;
	color: #1a1a1a;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	background: #34c759;
	border-radius: 43px;
}

._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.title {
	text-align: center;
	color: #303030;
	font-size: 90px;
	font-weight: 900;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.page {
	flex: 1 1 auto;
}
