@font-face {
	font-family: 'icomoon';
	src:
		url('../fonts/icomoon.woff2') format('woff2'),
		url('../fonts/icomoon.woff') format('woff');

	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
	content: "\e900";
	position: relative;
	transform: translate(190%, -30%);
	font-size: 30px;
	transition: all 0.5s ease 0s;


}

._icon-arrow:hover {
	color: white;
}

._icon-comments:before {
	content: "\e901";
	padding-right: 15px;
	font-size: 15px;

}

@media (max-width:479.98px) {
	._icon-comments:before {
		padding-right: 7px;
		font-size: 12px;
	}
}


._icon-views:before {
	content: "\e902";
	padding-right: 15px;
	font-size: 15px;

}

@media (max-width:479.98px) {
	._icon-views:before {
		padding-right: 7px;
		font-size: 12px;
	}
}