@import "_fonts.scss";
@import "_null.scss";
@import "_ui.scss";
@import "_burger.scss";

//========== Цвета=========================

$ColorHover: #34c759;
$black: #252525;
$background: #1a1a1a;
$light-grey: #85878c;

//========== Шрифты=========================

$fontMain: "Helveticaneue-Roman";
$fontHelv-Bold: "Helveticaneue-Bold";
$fontHelv-Black: "Helveticaneue-Black";
$fontRoboto: "Roboto";

body {
	font-family: $fontMain;
	color: white;
	background-color: $background;
}

.logo {
}

.icon-menu {
}

//=========================================header===========================//

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	z-index: 50;

	// .header__container

	&__container {
		min-height: 90px;
		align-items: center;
		justify-content: space-between;
		display: flex;

		@media (max-width: 991.98px) {
			min-height: 50px;
		}
	}

	// .header__logotype

	&__logotype {
		padding-right: 20px;
		position: relative;
		z-index: 5;
	}

	// .header__menu

	&__menu {
	}
}

.menu {
	// .menu__body

	&__body {
		@media (max-width: 767.98px) {
			position: fixed;
			top: -100%;
			left: 0;
			background-color: $black;
			width: 100%;
			height: 100%;
			padding: 100px 15px 50px 15px;
			overflow: auto;
			transition: all 0.5s ease 0s;

			.header:target & {
				top: 0;
			}
			.header:target &::before {
				content: "";
				position: fixed;
				left: 0;
				top: 0;
				background-color: $black;
				width: 100%;
				height: 50px;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	// .menu__item

	&__item {
		padding: 5px 0px;
		&:not(:last-child) {
			margin: 0px 45px 0px 0px;
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin: 0px 20px 0px 0px;
			}
		}
		@media (max-width: 767.98px) {
			&:not(:last-child) {
				margin-right: 0px;
				margin-bottom: 25px;
			}

			&:last-child {
				margin: 0px;
			}
		}
	}

	// .menu__link
	&__link {
		font-family: $fontHelv-Black sans-serif;
		color: white;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 700;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $ColorHover;
		}

		@media (max-width: 767.98px) {
			font-size: 30px;
		}
	}
}

//=========================================preview===========================//

.preview {
	padding: 190px 0px 161px 0px;
	position: relative;
	@media (max-width: 767.98px) {
		padding: 100px 0px 80px 0px;
	}

	@media (max-width: 479.98px) {
		padding: 100px 0px 30px 0px;
	}

	// .preview__container

	&__container {
		position: relative;
		z-index: 10;
	}

	// .preview__content

	&__content {
		display: flex;
		flex-direction: column;
		text-align: center;
		&:not(:last-child) {
			margin: 0px 0px 70px 0px;
		}
		@media (max-width: 767.98px) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 479px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .preview__title

	&__title {
		color: #ffffff;
		font-size: 72px;
		line-height: 84 / 72 * 100%;
		text-transform: capitalize;
		letter-spacing: 0.1em;

		span {
			font-weight: 700;
		}

		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: 767.98px) {
			font-size: 40px;
		}

		@media (max-width: 479px) {
			font-size: 30px;
		}
	}

	// .preview__sub-title

	&__sub-title {
		max-width: 580px;
		text-align: center;
		align-self: center;
		letter-spacing: -0.2px;
		line-height: 1.6;
		color: #ffffff;
		opacity: 0.7;

		&:not(:last-child) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: 767.98px) {
			font-size: 14px;
		}

		@media (max-width: 479px) {
			font-size: 12px;
		}
	}

	// .preview__button

	&__button {
	}

	// .preview__btn

	&__btn {
		transition: all 0.4s ease 0s;
		&:hover {
			background-color: #0aa92f;
			color: white;
		}
	}

	&__picture {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			object-position: top;
		}

		@media (max-width: 479px) {
			background-color: black;
			opacity: 0.5;
		}
	}
}

//=========================================contacts===========================//

.contacts {
	display: flex;
	justify-content: center;
	margin: 0 -15px;
	row-gap: 20px;
	flex-wrap: wrap;

	@media (max-width: 479px) {
		flex-direction: column;
		row-gap: 15px;
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0 15px;
		@media (max-width: 675px) {
			flex: 1 1 50%;
		}
	}
	.contacts__body {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		height: 100%;
	}
	.contacts__icon {
		display: flex;
		flex-direction: column;
		flex: 0 0 26px;
		width: 26px;
		align-items: flex-end;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
		img {
			max-width: 100%;
			max-height: 26px;
		}
		@media (max-width: 479px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__lable {
		line-height: 1.8;
		flex: 1 1 auto;
		transition: color 0.3s ease 0s;
		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}
		&:hover {
			cursor: pointer;
			color: $ColorHover;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 1.5;
		color: $light-grey;
	}
}

//=========================================work===========================//

.work {
	background-color: $background;
	padding: 60px 0px 60px 0px;

	@media (max-width: 991.98px) {
		padding: 20px 0px 20px 0px;
	}

	// .work__container

	&__container {
	}

	.heading {
		display: flex;
		align-items: center;
		justify-content: center;
		&::after {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			width: 60px;
			height: 2px;
			margin-bottom: -28px;
			background-color: $ColorHover;
		}

		@media (max-width: 991.98px) {
			&::after {
				margin-bottom: 2px;
			}
		}
	}

	&__header {
		position: relative;

		&:not(:last-child) {
			margin: 0px 0px 90px 0px;
		}

		&::before {
			content: "how it works";
			position: absolute;
			display: inline-flex;
			width: 100%;
			height: 100%;
			transform: translate(0%, 30%);
			text-transform: capitalize;
			justify-content: center;
			text-align: center;
			font-size: 30px;
			line-height: 1.3;
			color: #d9d9d9;
			letter-spacing: 0.3em;
		}

		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin: 0px 0px 60px 0px;
			}
		}

		@media (max-width: 767.98px) {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}

	// .work__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 15px;
	}
	// .work__column

	&__column {
		flex: 1 1 25%;
		padding: 0 15px;

		@media (max-width: 1085px) {
			flex: 1 1 50%;
		}

		@media (max-width: 565px) {
			flex: 1 1 100%;
		}
	}

	// .work__item

	&__item {
	}
}

.item-work {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background-color: #252525;
	border-radius: 6px;
	padding: 24px 24px 42px 31px;
	height: 100%;
	transition: all 0.4s linear 0s;

	@media (max-width: 1085px) {
		padding: 18px 20px 30px 25px;
	}

	@media (max-width: 565px) {
		padding: 15px 10px 15px 10px;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $ColorHover;
			transform: scale(1.1);

			h4 {
				color: black;
			}
			p {
				color: black;
			}
			::after {
				background-color: black;
			}
		}
	}

	&__title {
		position: relative;
		font-size: 22px;
		letter-spacing: -0.275px;
		line-height: 1.18;
		text-transform: capitalize;
		color: #ffffff;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			width: 60px;
			height: 2px;
			margin-bottom: -12px;
			background-color: $ColorHover;
		}
	}

	// .item-work__text

	&__text {
		color: $light-grey;
		font-size: 13px;
		line-height: 1.5;
		letter-spacing: -0.1625px;
	}
}
